<a href="https://colab.research.google.com/github/Hussainaquib/R-programs/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Develop the R program for basic mathematical computation-square,square root,exponential**

In [ ]:
b<-4
square<-b^2
print(square)

square_root<-sqrt(b)
print(square_root)

exponential<-exp(b)
print(exponential)

[1] 16
[1] 2
[1] 54.59815

**Create an object X that stores the value then overwrite the object in by itself divided by Y.**

In [ ]:
X<-2
Y<-5
X<-X/Y
print(X)

[1] 0.4

**Create and store a sequence of values from x to y that progresses in step of 0.3**

In [ ]:
sequence<-seq(1,10,by=0.3)
print(sequence)

 [1]  1.0  1.3  1.6  1.9  2.2  2.5  2.8  3.1  3.4  3.7  4.0  4.3  4.6  4.9  5.2
[16]  5.5  5.8  6.1  6.4  6.7  7.0  7.3  7.6  7.9  8.2  8.5  8.8  9.1  9.4  9.7
[31] 10.0

**Overwrite the existing object using the same sequence with the order reversed**

In [ ]:
sequence<-seq(1,10)
sort<-sort(sequence,decreasing=TRUE)
print(sort)

 [1] 10  9  8  7  6  5  4  3  2  1

**Confirm that the length of the vector created is 20**

In [ ]:
seq<-seq(1,20)
vector<-c(seq)
length<-length(vector)
print(length)

[1] 20

**Extract the first and last elements of already created vector from, storing them as a new object.**

In [ ]:
seq<-seq(1,20)
vector<-c(seq)
length<-length(vector)
vector1<-vector[c(1,length)]
print(vector1)

[1]  1 20