<a href="https://colab.research.google.com/github/Hussainaquib/R-programs/blob/main/Lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**create a list that contains , in this order ,a sequence of 20 evenly spaced numbers between -4 and 4; a 3X3 matrix of the logical vector c(F,T,T,T,F,T,T,F,F) filled column-wise; a character vector with the two strings "don" and "quixote" , and a factor vector containing the observations c("LOW","MED","LOW","MED","MED","HIGH") . then extract row elements 2 and 1 of columns 2 and 3, in that order, of the logical matrix.**

In [2]:
sequence <- seq(-4, 4, length.out = 20)
logical_matrix <- matrix(c(FALSE, TRUE, TRUE, TRUE, FALSE, TRUE, TRUE, FALSE, FALSE), nrow = 3, ncol = 3, byrow = FALSE)
character_vector <- c("don", "quixote")
factor_vector <- factor(c("LOW", "MED", "LOW", "MED", "MED", "HIGH"))
extracted_elements <- logical_matrix[c(2, 1), c(2, 3)]
print(extracted_elements)

      [,1]  [,2]
[1,] FALSE FALSE
[2,]  TRUE  TRUE

**Create and store this data frame as d frame with the field of person , sex . Append the two new records**

In [16]:
d <- data.frame(
  person = character(),
  sex = character(),
  funny = character(),
  age = numeric(),
  stringsAsFactors = FALSE
)

new <- data.frame(
  person = c("Sohan", "Arti"),
  sex = c("Male", "Female"),
  funny = c("LOW", "MED"),
  age = c(25, 30),
  stringsAsFactors = FALSE
)

d <- rbind(d, new)
print(d)

  person    sex funny age
1  Sohan   Male   LOW  25
2   Arti Female   MED  30

**Write a single of code that will extract from my data frame just the names and ages of any records where the individual is female and has a level of funniness equal to MED or HIGH**

In [17]:
d <- data.frame(
  person = character(),
  sex = character(),
  funny = character(),
  age = numeric(),
  stringsAsFactors = FALSE
)

new <- data.frame(
  person = c("Sohan", "Arti"),
  sex = c("Male", "Female"),
  funny = c("LOW", "MED"),
  age = c(25, 30),
  stringsAsFactors = FALSE
)

d <- rbind(d, new)
selected_records <- d[d_frame$sex == "Female" & d$funny %in% c("MED", "HIGH"), c("person", "age")]
print(selected_records)

  person age
2   Arti  30

**use your knowledge of handling character strings in R to extract all records from my data frame d that corresponds to people whose names start with S**

In [18]:
d <- data.frame(
  person = character(),
  sex = character(),
  funny = character(),
  age = numeric(),
  stringsAsFactors = FALSE
)

new <- data.frame(
  person = c("Sohan", "Arti"),
  sex = c("Male", "Female"),
  funny = c("LOW", "MED"),
  age = c(25, 30),
  stringsAsFactors = FALSE
)

d <- rbind(d, new)
subset <- d[grep("^S", d$person), ]
print(subset)

  person  sex funny age
1  Sohan Male   LOW  25